PORT=3001
FRONTEND_URL=http://localhost:5173

DATABASE_URL=postgresql://taskbloq_user:taskbloq_dev_password@localhost:5433/taskbloq

JWT_ACCESS_SECRET=task_bloq_access_secret_desarrollo_2026_muy_largo
JWT_REFRESH_SECRET=task_bloq_refresh_secret_desarrollo_2026_diferente

ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_DAYS=7

NODE_ENV=development